---
const { ...project } = Astro.props || "Project";

const { Content } = await project.render();
---

<div class="project">
  <div
    class="project-description"
    style={project.data.position === "left" ? "order: 2" : null}
  >
    <h1>{project.data.title}</h1>
    <div class="vl"></div>
    <Content />
  </div>
  <div class="project-show">
    <img
      class="project-image"
      src={project.data.image}
      alt={project.data.description}
      width="450px"
    />
    <a href={project.data.url} target="_blank">🔗 {project.data.url}</a>
  </div>
</div>

<style>
  .project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.4rem;
    padding: 0 1.5rem;
  }

  .vl {
    border-left: 2px solid var(--secondary-color);
    height: 4rem;
    margin: auto;
    display: block;
    width: 1px;
  }

  .project-description {
    max-width: 500px;
    line-height: 1.9rem;
    font-size: large;
    letter-spacing: 0.1rem;
  }

  .project-description h1 {
    text-align: center;
  }

  .project-show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-show a {
    text-decoration: none;
    font-size: larger;
    letter-spacing: 1.2px;
    padding: 1rem 0;
    color: #1c8c67;
    max-width: fit-content;
    transition: all 0.2s ease-in;
  }

  .project-show a:hover {
    color: var(--accent-color);
  }

  .project-image {
    width: 100%;
    max-width: 550px;
  }

  @media (max-width: 1200px) {
    .project {
      flex-direction: column;
    }
    .project-description {
      order: 1;
    }
    .project-image {
      order: 2;
      margin-top: 2rem;
    }
    .project-show {
      order: 2;
    }
    .project-show a {
      order: 2;
    }
  }
</style>
